*{

	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

img	{

	max-width: 100%;
	display: block;
}

body {

margin: 0;
padding: 0;
background:url(img/water.jpg);
background-image:url(img/water.jpg);
background-size: cover;

	
}

header {

	background-color: #969a96;
	height: 60px;
}

.container{

	width: 900px;
	margin: auto;
}



.top ul li {

	list-style: none;
	float: left;
	padding: 25px;
	vertical-align: middle;
}

.top ul li a {

	color:black;
	text-decoration: none;
	text-transform: uppercase;
	
	}

.top ul li a:hover {

	color: white;
	background: #1f3d65;
	padding:5px;
	border-radius: 5px;
}	

.top ul li a img {

	width: 60px;
	padding: 1px;
}

.box {

	width: 45%;
	float: left;
}


.Form-section {

	padding: 25px;
	margin-top: 100px;
}



form {

	height: 400px;
	width: 400px;
	background-color:#aed581;
	border-radius: 5px;	
}

form h1 {

	text-align: center;
	padding: 10px;
	font-family: Arial;
	font-size: 30px;

}


form h4 {

	text-align: center;
	padding: 10px;
	font-family: Arial;
	font-size: 14px;

}


input {

	width: 100%;
	font-size: 20px;
	padding: 10px ;
	border: 10px solid #aed581;
}

.submit {

	background-color: red;
}

.Form-section h1 {

	font-size: 30px;
}



.Form-section ul li {

	list-style-type: circle;
	padding: 8px 5px 2px 8px;
	margin-left: 15px;
	
}

.button {

	width: 180px;
	border-radius:20px;
	padding: 10px;
	margin-top: 30px;
	text-align: center;
	background-color: #aed581;

	}	